
.task-action{
    cursor: pointer;
}

h1 {
    color: cyan;
}

.task-name {
    font-weight: bold;
    color: cadetblue;
}

.task-completed{
    color: gray;
    text-decoration: line-through;
}

.task-pending{
    font-weight: bold;
    color: tomato;
}

